In [2]:
import pandas as pd

In [3]:
a = pd.date_range(start = '1/1/2001', end= '7/20/2019')

In [4]:
a

DatetimeIndex(['2001-01-01', '2001-01-02', '2001-01-03', '2001-01-04',
               '2001-01-05', '2001-01-06', '2001-01-07', '2001-01-08',
               '2001-01-09', '2001-01-10',
               ...
               '2019-07-11', '2019-07-12', '2019-07-13', '2019-07-14',
               '2019-07-15', '2019-07-16', '2019-07-17', '2019-07-18',
               '2019-07-19', '2019-07-20'],
              dtype='datetime64[ns]', length=6775, freq='D')

In [8]:
b = a.to_frame()

In [9]:
b

                    0
2001-01-01 2001-01-01
2001-01-02 2001-01-02
2001-01-03 2001-01-03
2001-01-04 2001-01-04
2001-01-05 2001-01-05
2001-01-06 2001-01-06
2001-01-07 2001-01-07
2001-01-08 2001-01-08
2001-01-09 2001-01-09
2001-01-10 2001-01-10
2001-01-11 2001-01-11
2001-01-12 2001-01-12
2001-01-13 2001-01-13
2001-01-14 2001-01-14
2001-01-15 2001-01-15
2001-01-16 2001-01-16
2001-01-17 2001-01-17
2001-01-18 2001-01-18
2001-01-19 2001-01-19
2001-01-20 2001-01-20
2001-01-21 2001-01-21
2001-01-22 2001-01-22
2001-01-23 2001-01-23
2001-01-24 2001-01-24
2001-01-25 2001-01-25
2001-01-26 2001-01-26
2001-01-27 2001-01-27
2001-01-28 2001-01-28
2001-01-29 2001-01-29
2001-01-30 2001-01-30
...               ...
2019-06-21 2019-06-21
2019-06-22 2019-06-22
2019-06-23 2019-06-23
2019-06-24 2019-06-24
2019-06-25 2019-06-25
2019-06-26 2019-06-26
2019-06-27 2019-06-27
2019-06-28 2019-06-28
2019-06-29 2019-06-29
2019-06-30 2019-06-30
2019-07-01 2019-07-01
2019-07-02 2019-07-02
2019-07-03 2019-07-03
2019-07-04 2019-07-04
2019-07-05 2019-07-05
2019-07-06 2019-07-06
2019-07-07 2019-07-07
2019-07-08 2019-07-08
2019-07-09 2019-07-09
2019-07-10 2019-07-10
2019-07-11 2019-07-11
2019-07-12 2019-07-12
2019-07-13 2019-07-13
2019-07-14 2019-07-14
2019-07-15 2019-07-15
2019-07-16 2019-07-16
2019-07-17 2019-07-17
2019-07-18 2019-07-18
2019-07-19 2019-07-19
2019-07-20 2019-07-20

[6775 rows x 1 columns]

In [10]:
b['dayofweek']=b[0].dt.dayofweek

In [11]:
b

                    0  dayofweek
2001-01-01 2001-01-01          0
2001-01-02 2001-01-02          1
2001-01-03 2001-01-03          2
2001-01-04 2001-01-04          3
2001-01-05 2001-01-05          4
2001-01-06 2001-01-06          5
2001-01-07 2001-01-07          6
2001-01-08 2001-01-08          0
2001-01-09 2001-01-09          1
2001-01-10 2001-01-10          2
2001-01-11 2001-01-11          3
2001-01-12 2001-01-12          4
2001-01-13 2001-01-13          5
2001-01-14 2001-01-14          6
2001-01-15 2001-01-15          0
2001-01-16 2001-01-16          1
2001-01-17 2001-01-17          2
2001-01-18 2001-01-18          3
2001-01-19 2001-01-19          4
2001-01-20 2001-01-20          5
2001-01-21 2001-01-21          6
2001-01-22 2001-01-22          0
2001-01-23 2001-01-23          1
2001-01-24 2001-01-24          2
2001-01-25 2001-01-25          3
2001-01-26 2001-01-26          4
2001-01-27 2001-01-27          5
2001-01-28 2001-01-28          6
2001-01-29 2001-01-29          0
2001-01-30 2001-01-30          1
...               ...        ...
2019-06-21 2019-06-21          4
2019-06-22 2019-06-22          5
2019-06-23 2019-06-23          6
2019-06-24 2019-06-24          0
2019-06-25 2019-06-25          1
2019-06-26 2019-06-26          2
2019-06-27 2019-06-27          3
2019-06-28 2019-06-28          4
2019-06-29 2019-06-29          5
2019-06-30 2019-06-30          6
2019-07-01 2019-07-01          0
2019-07-02 2019-07-02          1
2019-07-03 2019-07-03          2
2019-07-04 2019-07-04          3
2019-07-05 2019-07-05          4
2019-07-06 2019-07-06          5
2019-07-07 2019-07-07          6
2019-07-08 2019-07-08          0
2019-07-09 2019-07-09          1
2019-07-10 2019-07-10          2
2019-07-11 2019-07-11          3
2019-07-12 2019-07-12          4
2019-07-13 2019-07-13          5
2019-07-14 2019-07-14          6
2019-07-15 2019-07-15          0
2019-07-16 2019-07-16          1
2019-07-17 2019-07-17          2
2019-07-18 2019-07-18          3
2019-07-19 2019-07-19          4
2019-07-20 2019-07-20          5

[6775 rows x 2 columns]

In [12]:
c = b[b.dayofweek == 4]

In [15]:
c[0].to_csv('FridayTest.csv', index=False)

C:\Users\ABurch\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [13]:
c

                    0  dayofweek
2001-01-05 2001-01-05          4
2001-01-12 2001-01-12          4
2001-01-19 2001-01-19          4
2001-01-26 2001-01-26          4
2001-02-02 2001-02-02          4
2001-02-09 2001-02-09          4
2001-02-16 2001-02-16          4
2001-02-23 2001-02-23          4
2001-03-02 2001-03-02          4
2001-03-09 2001-03-09          4
2001-03-16 2001-03-16          4
2001-03-23 2001-03-23          4
2001-03-30 2001-03-30          4
2001-04-06 2001-04-06          4
2001-04-13 2001-04-13          4
2001-04-20 2001-04-20          4
2001-04-27 2001-04-27          4
2001-05-04 2001-05-04          4
2001-05-11 2001-05-11          4
2001-05-18 2001-05-18          4
2001-05-25 2001-05-25          4
2001-06-01 2001-06-01          4
2001-06-08 2001-06-08          4
2001-06-15 2001-06-15          4
2001-06-22 2001-06-22          4
2001-06-29 2001-06-29          4
2001-07-06 2001-07-06          4
2001-07-13 2001-07-13          4
2001-07-20 2001-07-20          4
2001-07-27 2001-07-27          4
...               ...        ...
2018-12-28 2018-12-28          4
2019-01-04 2019-01-04          4
2019-01-11 2019-01-11          4
2019-01-18 2019-01-18          4
2019-01-25 2019-01-25          4
2019-02-01 2019-02-01          4
2019-02-08 2019-02-08          4
2019-02-15 2019-02-15          4
2019-02-22 2019-02-22          4
2019-03-01 2019-03-01          4
2019-03-08 2019-03-08          4
2019-03-15 2019-03-15          4
2019-03-22 2019-03-22          4
2019-03-29 2019-03-29          4
2019-04-05 2019-04-05          4
2019-04-12 2019-04-12          4
2019-04-19 2019-04-19          4
2019-04-26 2019-04-26          4
2019-05-03 2019-05-03          4
2019-05-10 2019-05-10          4
2019-05-17 2019-05-17          4
2019-05-24 2019-05-24          4
2019-05-31 2019-05-31          4
2019-06-07 2019-06-07          4
2019-06-14 2019-06-14          4
2019-06-21 2019-06-21          4
2019-06-28 2019-06-28          4
2019-07-05 2019-07-05          4
2019-07-12 2019-07-12          4
2019-07-19 2019-07-19          4

[968 rows x 2 columns]