## Read input data and turn it into data frame

In [6]:
# Dependancies
import csv
import os
import pandas as pd

In [28]:
# Input file
input_file = os.path.join("..", "XLB.csv")

# Input file into dataframe
data = pd.read_csv(input_file) 
# Date into date type
data.Date = data.Date.astype('datetime64[ns]')
data['Week'] = [ td.isocalendar()[1] for td in data.Date]
data['Weekday'] = [ td.weekday() for td in data.Date]
data['GainPct'] = (data.Close - data.Open) / data.Open
data.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,Week,Weekday,GainPct
0,2000-01-03,26.671881,26.687500,25.937500,25.968750,16.565908,140500,1,0,-0.026362
1,2000-01-04,26.000000,26.046881,25.609381,25.718750,16.406433,258000,1,1,-0.010817
2,2000-01-05,26.015619,26.812500,25.750000,26.781250,17.084217,102700,1,2,0.029430
3,2000-01-06,26.796881,27.734381,26.781250,27.468750,17.522791,1335000,1,3,0.025073
4,2000-01-07,27.750000,27.937500,27.453119,27.453119,17.512810,620100,1,4,-0.010698
5,2000-01-10,27.703119,27.703119,27.140619,27.359381,17.453016,171200,2,0,-0.012408
6,2000-01-11,27.140619,27.250000,26.828119,27.031250,17.243696,39700,2,1,-0.004030
7,2000-01-12,26.609381,27.031250,26.609381,26.640619,16.994513,135300,2,2,0.001174
8,2000-01-13,26.890619,26.968750,26.625000,26.750000,17.064274,45900,2,3,-0.005229
9,2000-01-14,26.515619,26.718750,26.437500,26.562500,16.944664,76000,2,4,0.001768